body {
  font-family: "Roboto Mono", monospace;
}
header {
  width: auto;
  height: auto;
  background-image: linear-gradient(rgb(38, 35, 41), rgba(45, 0, 128, 0.918)),
    url("images/background1.jpg");
  background-size: cover;
  background-position: 50%;
  background-position: relative;
}

.profile {
  padding: 0px;
}

.profile-avatar {
  position: relative;
  min-height: 1px;
  margin-left: 200px;
  margin-top: 130px;
}

.my-info {
  margin-bottom: -50px;
  margin-top: 330px;
}

.my-info,
h1,
pre {
  color: white;
}

.nav,
.my-nav,
.nav-link {
  font-size: 1.25rem;
  color: white;
  margin-right: 40px;
  margin-top: 20px;
  padding-left: 19%;
}
