header {
  height: 600px;
  background-image: linear-gradient(rgb(38, 35, 41), rgba(45, 0, 128, 0.918)),
    url("background1.jpg");
  background-size: cover;
  background-position: 50%;
  background-position: relative;
  font-family: "Roboto Mono", monospace;
  color: white;
}

.profile {
    position: relative;
    
  padding: 0px;
}

.profile-avatar {
  position: relative;
  min-height: 1px;
  margin-left: 9%;
  margin-top: 2%;
}

.my-info {
  margin-bottom: -50px;
  margin-top: 330px;
}

.my-info,
h1 {
  color: white;
}

.nav,
.my-nav,
.nav-link {
  font-size: 1.25rem;
  color: white;
  margin-right: 40px;
  margin-top: 20px;
  margin-left: 15%;
  padding-left: 50px;
}
